@use 'assets/styles/_colors.scss' as colors;
@use 'assets/styles/_constants.scss' as sizes;

.comment {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  margin-bottom: 16px;

  &__user {
    flex-direction: row;

    &__link {
      padding: 0;
    }

    &__text {
      display: flex;
      flex-direction: column;
    }

    &__photo {
      max-width: 64px;
      max-height: 64px;
    }

    &__date {
      font-size: 12px;
      color: colors.$text-sub-gray;
    }
  }

  &__content {
    padding-left: 50px;
    font-size: 14px;
  }

  &__date {
    font-size: sizes.$comment-date-font-size;
    color: colors.$comment-date-color;
  }

  &__text {
    display: block;
    margin-bottom: 12px;
  }

  &__delete-text {
    color: colors.$error-red;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding-left: 50px;
    padding-bottom: 8px;

    &--no-comments {
      padding: 0;
    }
  }

  &__action {
    cursor: pointer;
    background: none;
  }

  &:hover {
    .comment__controls {
      opacity: 1;
      transition: 0.2s ease all;
    }
  }

  &__controls {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 6px;

    button {
      width: 18px;
      height: 18px;
      box-sizing: content-box;
    }

    svg {
      font-size: 18px;
    }
  }

  &__delete {
    display: flex;
    padding: 2px;
    margin: 2px;
    transition: 0.2s ease all;
    background: none;
    box-shadow: 0 0 1px 2px white;

    & svg {
      transition: 0.2s ease all;
      color: white;
      background-color: transparent;
    }

    &:hover {
      box-shadow: 0 0 1px 2px colors.$error-red;

      & svg {
        background-color: colors.$error-red;
        color: white;
        transition: 0.2s ease all;
      }
    }
  }

  &__edit {
    display: flex;
    padding: 2px;
    margin: 2px;
    transition: 0.2s ease all;
    background: none;
    box-shadow: 0 0 1px 2px white;

    & svg {
      transition: 0.2s ease all;
      color: white;
      background-color: transparent;
    }

    &:hover {
      box-shadow: 0 0 1px 2px colors.$light-blue;

      & svg {
        background-color: colors.$light-blue;
        color: white;
        transition: 0.2s ease all;
      }
    }
  }

  &__action-container {
    display: flex;
    gap: 4px;
  }

  &__like {
    svg {
      color: white;

      path:first-child {
        fill: transparent;
      }
    }

    &:hover,
    &--liked {
      svg {
        color: red;

        path:first-child {
          fill: red;
        }
      }
    }
  }

  &__comment-icon {
    svg {
      color: white;

      path:first-child {
        fill: transparent;
      }
    }
  }

  .comments {
    margin-top: 8px;
    position: relative;

    &::before {
      content: '';
      width: calc(100% + 32px);
      height: 8px;
      position: absolute;
      top: -20px;
      left: -16px;
      background-color: colors.$base-background-dark;
    }
  }
}

.editable-form {
  &--comment-edit {
    grid-template: 1fr / auto 1fr auto !important;
    align-items: center;
    min-width: 300px;

    .editable-form__text {
      grid-area: 1/2/2/3;
    }

    .editable-form__attachment-label {
      grid-area: 1/1/2/2;
      align-self: center;
    }
  }
}
