// DARK BACKGROUNDS
$base-background-dark: #222226;
$main-background-dark: #333336;
$active-background-dark: #444446;
$button-background-light-gray: #666;

$active-link: rgba(174, 183, 194, 0.2);

// LIGHT BACKGROUNDS

// TEXT COLORS
$text-light-gray: #aaa;
$text-dark-gray: #888;
$text-sub-gray: #999;

// UTIL COLORS
$border-gray: #444446;
$error-red: rgb(245 99 99);