// DARK BACKGROUNDS
$base-background-dark: #222226;
$main-background-dark: #333336;
$active-background-dark: #444446;
$button-background-light-gray: #666;

$active-link: rgba(174, 183, 194, 0.2);

// LIGHT BACKGROUNDS
$delete-background-light-red: #ffbdad;

// TEXT COLORS
$text-light-gray: #aaa;
$text-dark-gray: #888;
$text-sub-gray: #999;
$text-delete-red: #de350b;

// UTIL COLORS
$border-gray: #444446;
$error-red: rgb(245 99 99);
$light-green: rgb(99 245 99);
$light-blue: rgb(99 99 245);
$hover-dark-gray: #555;
$gray-linear-gradient-start: #555556;
$date-color: #777;
$comment-date-color: #939393;
