$max-content-size: 1024px;


// PROFILE IMAGES SIZES
$xl-profile-image: 300px;
$l-profile-image: 118px;
$m-profile-image: 50px;
$sm-profile-image: 42px;
$xs-profile-image: 25px;

$comment-profile-image: 34px;
$comment-author-font-size: 14px;
$comment-content-font-size: 13px;
$comment-date-font-size: 12.5px;