@use 'assets/styles/_colors.scss' as colors;
@use 'assets/styles/_constants.scss' as sizes;

.attachments {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.video {
  object-fit: cover;
  width: 100%;
  height: auto;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.audioContainer,
.filesContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.file {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;

  audio {
    width: 100%;
  }
}

.fileHead {
  display: flex;
  flex-direction: row;
  gap: 8px;

  &:hover {
    span {
      color: colors.$light-blue;
      transition: 0.1s ease all;
    }
  }
}


