@use 'assets/styles/_colors.scss' as colors;
@use 'assets/styles/_constants.scss' as sizes;

.app {
  min-height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: colors.$base-background-dark;
  color: white;
  text-align: center;

  &--welcome {
    padding: 0;
    background: no-repeat center/cover url(https://www.urbanoid.by/files/mag/bRAQhlLdO7__l.jpg);

    .header,
    .footer {
      display: none;
    }

    .main {
      height: 100%;
      max-width: 360px !important;
      width: 100%;
      background: rgba(34, 34, 38, 0.8);
      margin: 0 !important;
    }
  }

  .main {
    max-width: sizes.$max-content-size;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex: 1 0 auto;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;

    &__body {
      width: inherit;
    }
  }

  .footer {
    flex-shrink: 0;
  }
}

a {
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid;
    // background: colors.$active-link;
  }
}

.page__block {
  background: colors.$main-background-dark;
  border-radius: 4px;
  margin: 16px 0 0;
  padding: 16px;
}

.button {
  &--default {
    height: 32px;
    padding: 0 16px;
    box-sizing: border-box;
    background: colors.$button-background-light-gray;
    color: white;
    transition: 0.2s ease all;

    &:hover {
      background: colors.$hover-dark-gray;
      transition: 0.2s ease all;
    }
  }
}

.input {
  &--error {
    outline: 1px solid colors.$error-red !important;
  }
}

.input__text {
  &--default {
    padding: 8px 16px;
    background: colors.$button-background-light-gray;
    color: white;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 13px;

    &::placeholder {
      color: colors.$text-sub-gray;
    }
  }
}
