@use 'assets/styles/_colors.scss' as colors;
@use 'assets/styles/_constants.scss' as sizes;

.app {
  min-height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: colors.$base-background-dark;
  color: white;
  text-align: center;

  &--welcome {
    padding: 0;
    background: no-repeat center/cover url(https://www.urbanoid.by/files/mag/bRAQhlLdO7__l.jpg);

    .header,
    .footer {
      display: none;
    }

    .main {
      height: 100%;
      max-width: 360px !important;
      width: 100%;
      background: rgba(34, 34, 38, 0.8);
      margin: 0 !important;
    }
  }

  .main {
    max-width: sizes.$max-content-size;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex: 1 0 auto;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
    display: grid;
    grid-template: 1fr / auto 1fr;

    &--admin {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  .footer {
    flex-shrink: 0;
  }
}

.link--default {
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid;
  }
}

.page__block {
  background: colors.$main-background-dark;
  border-radius: 4px;
  margin: 16px 0 0;
  padding: 16px;
  box-sizing: border-box;
}

.button {
  &--default {
    height: 32px;
    padding: 0 16px;
    box-sizing: border-box;
    background: colors.$button-background-light-gray;
    color: white;
    transition: 0.2s ease all;

    &:hover {
      background: colors.$hover-dark-gray;
      transition: 0.2s ease all;
    }
  }
}

.input {
  &--error {
    outline: 1px solid colors.$error-red !important;
  }
}

.input__text {
  &--default {
    padding: 8px 16px;
    background: colors.$button-background-light-gray;
    color: white;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 13px;

    &::placeholder {
      color: colors.$text-sub-gray;
    }
  }
}

.line-divider {
  width: 100%;
  height: 1px;
  margin: 16px 0;
  background: colors.$button-background-light-gray;
}

.border--bottom--grey {
  border-bottom: 1px solid colors.$button-background-light-gray;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: colors.$active-background-dark;
}

::-webkit-scrollbar-thumb {
  height: 40px;
  background: colors.$text-dark-gray;
}

::-webkit-scrollbar-thumb {
  &:hover {
    background: colors.$button-background-light-gray;
  }
}

body {
  scrollbar-width: 12px;
  scrollbar-color: colors.$active-background-dark;

  &::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px colors.$base-background-dark;
  }
}
