@use 'assets/styles/_colors.scss' as colors;

.sidebar {
  width: 154px;
  text-align: left;
  position: sticky;
  top: 16px;
}

.navigation {
  width: 100%;
  height: fit-content;
  text-align: left;
  padding: 0;
  background-color: colors.$base-background-dark;

  &.page__block {
    margin: 0;
    padding: 8px 0;

    .navigation__link {
      a {
        border-radius: 0;
      }
    }
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-item {
      width: 100%;
      display: block;
    }
  }

  &__link {
    width: 100%;
    display: block;
    padding: 8px;
    border-radius: 4px;
    box-sizing: border-box;

    &:hover {
      background-color: colors.$button-background-light-gray;
    }

    &--active {
      background-color: colors.$active-background-dark;
    }
  }
}
