@use 'assets/styles/_colors.scss' as colors;

.form {
  &__errors {
    font-size: 15px;
    color: colors.$error-red;
  }

  &__range-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  &__input {
    &-errors {
      text-align: left;
      color: colors.$error-red;
    }

    &-error {
      font-size: 12px;
    }

    &--date {
      width: 100%;
      box-sizing: border-box;
      border: none;
    }
  }
}

.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
.img-preview {
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
