@use 'assets/styles/_colors.scss' as colors;

.profile {
  display: flex;
  flex-direction: row;
  gap: 16px;

  &__column {
    display: flex;
    flex-direction: column;

    &--narrow {
      width: 242px;
      height: min-content;
      position: sticky;
      top: 0;
      flex-shrink: 0;
    }

    &--wide {
      flex-grow: 1;
      text-align: left;
    }
  }

  &__photo {
    &-wrapper {
      padding-bottom: 16px;
    }

    &-image {
      width: 100%;
      border-radius: 4px;
    }
  }

  &__info {
    &-up {
      padding-bottom: 16px;
    }

    &-down {
      margin-top: 16px;
      padding-bottom: 16px;
    }

    &-status {
      margin-top: 4px;
    }

    &-name {
      font-size: 19px;
      line-height: 25px;
      font-weight: 400;
    }

    &-status {
      display: block;
      line-height: 16px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      color: colors.$text-light-gray;
    }
  }

  &__actions {
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none !important;
      border-radius: 4px;
      font-size: 14px;

      &--friends {
      }

      &--edit {
      }
    }
  }

  .friends {
    &__item {
      width: 64px;
    }

    &__list {
      display: grid;
      grid-template: 1fr / repeat(3, 1fr);
      gap: 8px;
      margin-top: 16px;
    }

    &-user {
      &__name {
        display: block;
        width: inherit;
        text-align: center;
        font-size: 13px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    &-info {
      &--top {
        text-align: center;
      }
    }
  }

  &__not-found {
    font-size: 60px;
    -webkit-text-stroke: 1px white;
    color: transparent;
  }
}

.posts {
  &__list {
    display: flex;
    flex-direction: column;
  }
}
