.welcome {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  gap: 8px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
    margin-top: 32px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;

    input, div {
      width: 100%;
    }

    &-button {
      width: 140px;
    }
  }

  &__sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  &__preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 30%;
    box-sizing: border-box;
    display: flex;
    align-items: center;    
    background: linear-gradient(180deg, white, transparent);
    z-index: 100;
    color: black;
    font-weight: 600;
    font-size: 30px;

    span:not(.preloader__text) {
      background: black;
    }
  }
}
